# Berkas ini berisi rahasia. Sudah masuk .gitignore. Jangan pernah di-commit.
PORT=4100
NODE_ENV=development
CORS_ORIGIN=http://localhost:5180

DATABASE_URL=isi-di-sini

SUPABASE_URL=isi-di-sini
SUPABASE_SERVICE_ROLE_KEY=isi-di-sini
SUPABASE_BUCKET=files

JWT_SECRET=isi-di-sini
JWT_EXPIRES_IN=7d
APP_URL=http://localhost:5180
